<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG" verbose="1" >
    <test name="LinkedIn" >
        <classes>
            <class name="LinkedinLoginTest">
            <methods>
                <exclude name="succeedfulLoginTest"/>
                <exclude name="negativeLoginErrorsTest"/>
                <exclude name="negativeEmptyLoginTest"/>
                <exclude name="negativeLogoutBackLoginTest"/>
            </methods>
            </class>

            <class name="LinkedinSearchTest">
                <methods>
                    <exclude name="searchHomePageTest"/>
                </methods>
            </class>

            <class name="LinkedinResetPasswordTest">
                <methods>
                    <include name="resetPasswordTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>