<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG" verbose="1" >
    <test name="LinkedIn" >
        <classes>
            <class name="LinkedinLoginTest">
            <methods>
                <include name="succeedfulLoginTest"/>
                <include name="negativeLoginShortValuesTest"/>
                <include name="negativeLoginLongValuesTest"/>
                <include name="negativeEmptyLoginTest"/>
                <include name="negativeLoginWrongValuesTest"/>
                <include name="negativeLogoutBackLoginTest"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>